---
import ButtonNavbar from "@components/ButtonNavbar";
---

<footer class="w-full p-8 bg-green-600">
  <div class="grid justify-between gap-2 align-center">
    <h1 class="text-3xl text-white">Referencias</h1>
    <ButtonNavbar client:load text="GitHub" />
    <ButtonNavbar client:load text="API Pokemon" />
  </div>
</footer>
