---
import Layout from "@layouts/Layout.astro";
import Navbar from "@pages/Layouts/Navbar.astro";
import Footer from "@pages/Layouts/Footer.astro";
import InfoPokemon from "@components/InfoPokemon";

const { pokeName } = Astro.params;
---

<Layout>
  <div class="flex flex-col min-h-screen">
    <Navbar />
    <main class="flex-grow pt-16">
      <InfoPokemon pokeName={pokeName} client:load />
    </main>
    <Footer />
  </div>
</Layout>
