---
import Layout from "@layouts/Layout.astro";
import Navbar from "@pages/Layouts/Navbar.astro";
import Footer from "@pages/Layouts/Footer.astro";
import InfoAbility from "@components/InfoAbility";

const { abilityName } = Astro.params;
---

<Layout>
  <div class="flex flex-col min-h-screen">
    <Navbar />
    <main class="flex-grow pt-16">
      <InfoAbility dataName={abilityName} client:load />
    </main>
    <Footer />
  </div>
</Layout>
